/* CSS untuk Bar Chart */
.chart-bar {
    -fx-bar-fill: rgba(0, 128, 255, 0.7); /* Warna bar */
    -fx-background-color: transparent; /* Warna background */
    -fx-border-color: rgba(0, 128, 255, 0.7); /* Warna border */
    -fx-border-width: 1px; /* Lebar border */
}

.chart-bar:hover {
    -fx-bar-fill: rgba(0, 128, 255, 0.9); /* Warna bar saat dihover */
}

.chart-bar:selected {
    -fx-bar-fill: rgba(0, 128, 255, 1.0); /* Warna bar terpilih */
}

.chart-legend {
    -fx-background-color: transparent; /* Warna background legenda */
}

.chart-legend-item-symbol {
    -fx-bar-fill: rgba(0, 128, 255, 0.7); /* Warna legenda */
}

.chart-legend-item-symbol:selected {
    -fx-bar-fill: rgba(0, 128, 255, 1.0); /* Warna legenda terpilih */
}

/* CSS untuk menghilangkan kotak dan garis-garis di belakang chart */
.chart {
    -fx-background-color: transparent; /* Warna background */
    -fx-border-width: 0; /* Menghilangkan border */
    -fx-padding: 0; /* Menghilangkan padding */
    -fx-background-insets: 0; /* Menghilangkan inset background */
}

.chart-content {
    -fx-padding: 0; /* Menghilangkan padding */
}

.chart-horizontal-grid-lines {
    -fx-stroke-width: 0; /* Menghilangkan garis horisontal */
}

.chart-vertical-grid-lines {
    -fx-stroke-width: 0; /* Menghilangkan garis vertikal */
}